.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 300px;
    height: 400px;
    padding: 0px 50px 5px 50px;
    margin: 10px;
}

.title {
    text-align: center;
    margin: 20px;
    background-color:  #F5F5F5;
}

.button-container {
    margin: 50px;
    display: grid;
    align-items: center;
    padding: 50px;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

span {
    font-size: small;
}

.img-button {
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    height: 150px;
}

.container {
    display: flex;
    height: 100%;
    background-color: #F5F5F5;
    flex-direction: column;
}