.login-wrapper {
    background-color: white;
    margin: auto;
    padding: 0px 50px 30px 50px;
    width: 200px;
    border: solid #383636;
    border-radius: 15px;
    justify-content: center;
}

.full-page-container {
    background-color: rgb(10, 25, 41);
    margin:-25px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form {
    display: inline-block;
    text-align: center;
}

label {
    text-align: left;
}

.login-title {
    text-align:center;
}

.invalidText {
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

#attemptText {
    font-size: 10px;
}
