.login-wrapper {
    background-color: white;
    margin: auto;
    padding: 0px 25px 25px 25px;
    width: 200px;
    border: solid #383636;
    border-radius: 15px;
}

.full-page-container {
    background-color: rgb(10, 25, 41);
    margin:-25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-title {
    text-align:center;
}

button {
    margin-top: 25px;
}
