h4 {
    color: rgb(122, 122, 122);
    font-weight: normal;
}

.green {
    color: rgb(53, 199, 53);
}

.red {
    color: red;
}

.container {
    background-color: rgb(212, 201, 201);
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 300px;
    height: 400px;
    padding: 0px 50px 5px 50px;
    margin: 10px;
}

.card-container {
    display: flex;
    background-color: #F5F5F5;
    flex-direction: column;
}