.catalog-container {
    background-color: white;
}

.catalog-card-container {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    padding: 10px;
}

.catalog-header {
    display: flex;
    padding: 20px;
}

.search-bar {
    margin: 0px;
}

.table-container {
    width: 100%;
    margin-top: 10px;
    max-height: 500px;
}

.card-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    width: 100%;
}

.top-elements {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.catalog-card {
    max-width: 250px;
    max-height: 300px;
}

.catalog-card-media {
    height: 150px;
    padding-top: 2%;
}
