.invoices_container {
    display: flex;
}
.sidenav {
    width: 300px;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    background-color: #F5F5F5;
}

.sidenav_title {
    display: flex;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(122, 122, 122);
    text-decoration: none;
    width: 100%;
}

.linkText {
    padding-left: 16px;
}

.sideitem:hover {
    background-color: #244f7d1c;

}

.menuBtn {
    align-self: center;
    align-self: flex-start;
    justify-self: flex-end;
    color: #B2BAC2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}

.userbox {
    color: #B2BAC2;
    background-color: #244f7d1c;
    margin: 20px;
    margin-top: 400px;

}

.sub_container {
    width: 100%;
}

.invoice_title {
    text-align: center;
    font-weight: 500;
}

.invoice_header {
    display: flex;
    flex-direction: column;
}

.invoice_number {
    text-align: left;
}

.invoice_date {
    text-align: left;
}

.invoice_details {
    padding-top: 20px;
    padding-bottom: 50px;
}

.invoice_items {
    display: flex;
    flex-direction: column;
}

.invoice_paper {
    width: 600px;
    height: 100vh;
    margin: 50px auto 0px auto;
    padding: 35px;
}

.hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.validateBtn {
    margin-top: 15px;
}